@model IEnumerable<Examen_EV_2_Diego_Berenguer_Celma.Models.ProveedoresModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomProveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomProveedor)
            </td>
            <td>
                <table>
                    @foreach(PedidosModel obj in item.pedidos){
                        <tr>
                            <td>
                                <a href="../Pedidos/Index?id=@obj.ID">@Html.DisplayFor(modelItem => obj.fechaPedido)</a>
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
